* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-image: linear-gradient(to bottom, rgba(131, 244, 208, 0.724) 0%, #ffffff 100%);
}

.tab button {
    border: none;
    width: 100%;
    height: 100%;
    font-size: 20px;
    font-weight: bold;
}

.tripp input {
    border-radius: 6px;
    padding: 10px;
}

.tripp select {

    height: 45px;
    border-radius: 6px;


}

.routes .card:hover {

    background:
        linear-gradient(to bottom, rgb(178, 243, 222, 100%) 0%, #ffffff 100%);
    ;

}

button:hover {
    background-color: orange !important;
    /* box-shadow: 0 0 7px 5px gray; */
}

.mainn {
    position: relative;
    top: 0px;
}

.aboutsection li {
    list-style: none;
}

.checked {
    color: orange;

}

.swiper-pagination-bullet {
    background-color: #6E93f7;
    opacity: 1;

}

.swiper-pagination-bullet-active {
    background-color: #4070F4;
}

.boxx {
    height: 450px;
    width: 450px;
    background-color: #5cd7b0;
    border-radius: 40% 40% 40% 40%;
    transform: rotate(-50deg);
    outline: 1px solid #5cd7b0;
    outline-offset: 15px;
    position: relative;

}

.boxx1 {

    transform: rotate(50deg);
    padding-left: 30px;
    padding-top: 90px;


}

.innner {
    height: 300px;
    width: 300px;
}

.icon1 {
    position: absolute;
    top: 150px;
    left: -40px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    transform: rotate(50deg);
    background-color: #5cd7b0;

}

.icon2 {
    position: absolute;
    bottom: 150px;
    right: -40px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    transform: rotate(50deg);
    background-color: #5cd7b0;

}

.icon3 {
    position: absolute;
    right: 180px;
    bottom: -40px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    transform: rotate(50deg);
    background-color: #5cd7b0;

}

.icon4 {
    position: absolute;
    left: 180px;
    top: -40px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    transform: rotate(50deg);
    background-color: #5cd7b0;


}

.linkss img {
    height: 60px;
    width: 60px;
}

.fxnumber {
    display: none;
    position: fixed;
    bottom: 0px;
    z-index: 100;
}

@media screen and (max-width:400px) {
    .image23 {
        width: 100%;
    }
}


@media screen and (max-width:700px) {
    .boxx {
        height: 230px;
        width: 230px;
        /* margin-top: 50px; */
    }

    .callt {
        display: none;
    }
    .textp{
        justify-content: center !important;
    }

    .boxx1 {
        padding-left: 20px;
        padding-top: 20px;
        font-size: 10px;
    }

    .innner {
        height: 180px;
        width: 180px;
    }

    .mainn {

        top: 0px;
    }

    .img2 {
        display: none;
    }

    .linkss img {
        height: 40px;
        width: 40px;
    }

    .icon1 {
        position: absolute;
        top: 110px;
        left: -30px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        transform: rotate(50deg);
        background-color: #5cd7b0;

    }

    .icon2 {
        position: absolute;
        bottom: 110px;
        right: -30px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        transform: rotate(50deg);
        background-color: #5cd7b0;

    }

    .innner h3 {
        font-size: 15px;
        font-weight: bold;
    }

    .innner img {
        height: 40px;
    }

    .icon3 {
        position: absolute;
        right: 120px;
        bottom: -30px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        transform: rotate(50deg);
        background-color: #5cd7b0;

    }

    .icon4 {
        position: absolute;
        left: 120px;
        top: -30px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        transform: rotate(50deg);
        background-color: #5cd7b0;


    }

    .fxnumber {
        display: block;
    }


}

.socialicon {
    position: fixed;
    right: 0;
    top: 50%;
    z-index: 100;
}

.carddd {
    min-height: 200px;
    width: 100%;
    margin-bottom: 10px;
    background-color: white;
}

.backclr {
    background-color: #5cd7b0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

a {
    text-decoration: none !important;
}

/* nav{
    position: sticky !important;
    top: 10px !important;
    z-index: 100;
    margin: 0px 10px;
} */

.active {
    background-color: orange !important;
}
td{width: 200px;
height: 100px;}


